@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&family=Cinzel+Decorative:wght@400;900&display=swap');

/* font-family: 'Bodoni Moda', serif; bold 700
font-family: 'Cinzel Decorative', cursive; regular 400 , black 900 */


body {
  background: #2e2e2e;
  height: 100vh;
  cursor: none;
  margin: 0;
}

a {
  cursor: url(./Pointing_R-Angle_B2\ \(1\).png) 2 12, auto;
  /* cursor: url(/public/images/Pointing_R-Angle_B2.png),pointer; */
}

.App {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.phone {
  width: 100%;
  height: 100vh;
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  color: bisque;
}

.link-box {
  background: white;
  display: flex;
  height: 55px;
  /* width: 500px; */
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.name {
  position: absolute;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 900;
  /* font-family: 'Bodoni Moda', serif; */
  left: 50px;
}

.link {
  width: 100px;
  /* background: brown; */
  margin: 10px 10px;
  height: 75%;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  cursor: url(./Pointing_R-Angle_B2\ \(1\).png) 2 12, auto;

  /* cursor: url(./Pointing_R-Angle_B2.png); */
}

.selected {
  background: black;
  /* color: white; */
}

.selected a {
  color: bisque;
}

.link a {
  text-decoration: none;
  color: black;
}

.page {
  font-family: 'Bodoni Moda', serif;
  color: rgb(184, 183, 183);
  width: 80vw;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* line-height: 10px; */
}

.about {
  flex-direction: column;
}

.heading-name {
  position: relative;
  /* width: 50%; */
  height: 200px;
}

.heading-name img {
  position: absolute;
  /* width: 500px; */
  height: 100%;
  animation: bounce 1s infinite alternate;
  animation-delay: 3s;
}

@keyframes bounce {
  to {
    transform: translateY(10px);
  }
}

.intro-heading {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

/* const ld_gray = gsap.timeline({paused: true});
ld_gray.from('.loading', {duration: 1, delay: 0.5, scaleX: 0, transformOrigin: 'left', ease: "expo.out",});
ld_gray.to('.loading', {duration: 1, delay: 0.2, scaleX: 0, transformOrigin: 'right', ease: "expo.in",} );

$('button').click(function () {
  ld_gray.restart();
}); */

.home-images {
  position: relative;
  width: 30%;
  height: 500px;
}

.home-images img {
  position: absolute;
  width: 400px;
  height: 400px;
}

.home-images img:nth-child(2) {
  top: 100px;
  right: 10px;
}

.home-images img:nth-child(3) {
  bottom: 70px;
  width: 200px;
  height: 200px;
  right: -60px;
}

.mainCursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  z-index: 1000;
  mix-blend-mode: difference;
  pointer-events: none;
}

.social-block {
  position: fixed;
  right: 10px;
  top: 50px;
}

.social-link img {
  position: relative;
  width: 80px;
  height: 80px;
  transition: 0.5s;
}

.page-heading {
  width: 100%;
  height: 30%;
  font-size: 150px;
  color: #C7c000;
}

.about-content {
  font-family: 'Abel', sans-serif;
  font-family: none;
  color: white;
  width: 100%;
  height: 70%;
  position: relative;
  top: -50px;
  font-family: none;
}

.skills {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page h3 {
  color: #C7c000;
  font-size: 2.7em;
}

.content {
  width: 50vw;
  font-size: 2em;
}

.about .home-images {
  position: absolute;
  right: 0;
  top: 0px;
}

.sideToggle {
  width: 250px;
  height: 90px;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.skillImage {
  width: 400px;
}

.sideToggleDiv:hover {
  /* background:rgba(0, 0 , 0, 0.1); */
  box-sizing: border-box;
}

.sideToggleDiv {
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}

.activeToggle span {
  position: absolute;
  transition: .5s ease;
  width: 70px;
  background: white;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
  height: 200px;
  top: -50px;
  left: -130px;
  display: block;
  transform: rotate(45deg);
}

.activeToggle:hover span {
  left: 120%;
}

.anya {
  position: absolute;
  left: -150px;
  bottom: -380px;
  transition: 0.3s;
}

.about .anya img {
  width: 200px;
  object-fit: cover;
  height: 300px;
}

.about .anya:hover {
  bottom: -200px;
}

button:hover {
  cursor: none;
}

.loading {
  width: 100vw;
  position: absolute;
  height: 1900px;
  z-index: 5;
  left: 100%;
}

.load1 {
  background: #C7c000;

}

.load2 {
  background: black;
}

.circularProgress {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:1000px) {
  .App {
    display: none;
  }
  .phone {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 17px;
  }
}